h1  {
  font-size: 60px;
  padding: 5px;
  background-color: rgb(248, 207, 130);
}
h1, h3 {
  font-family: 'Bebas Neue';
}
.form-control {
  width: 100px;
}
.output {
  display: none;
}
body {
  background-color: rgb(15, 155, 155, 0.3);
  color: black;
  font-family: 'Roboto';
}
.container {
  display: flex;
  justify-content: center;
}
.formOne {
  display: flex;
  margin: 20px;
}
.card-header {
  background-color: beige;
}
.card {
  background-color: rgb(245, 245, 220);
}